.weekButton {
    padding: 6px;
}



.TaskHeader {
    font-size: 16px;
    letter-spacing: 0.15px;
    color: #272b30;
    font-weight: 600;

}

.fixedContainer {
    position: fixed;
    width: calc(100% - 18.8rem);
    left: 17.5rem;
    right: 0;
    z-index: 1075;
}

.left-container .fixedContainer {
    left: 6.8rem;
    width: calc(100% - 8.5rem);
}

.deyailsShow {
    color: #8E724A;

    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    /* 169.231% */
    letter-spacing: 0.46px;
}

.RecurrenceBtn .p-selectbutton {
    padding: 4px;
    background: #fff;
    border-radius: 4px;
}

.RecurrenceBtn .p-selectbutton .p-highlight {
    background-color: #8E724A !important;
    color: #fff;
}

.RecurrenceBtn .p-selectbutton .p-button {
    background-color: #fff;
    padding: 7px 22px;
    border: 1px solid #D3D7DB;
}

.containerWO {
    border: 1px solid #D3D7DB;
    border-radius: 8px;
}

.p-inputswitch .p-inputswitch-input {
    border-radius: 10px;
}

.p-inputswitch-slider {
    border: 1px solid #A7ACB2;
}

.p-inputswitch .p-inputswitch-slider:before {
    background: #7E8083;
    width: 0.8rem;
    height: 0.8rem;
    margin-top: -0.425rem;
}

.p-inputswitch .p-inputswitch-slider {
    background: #fff;
}

.p-inputswitch.p-highlight .p-inputswitch-slider {
    background-color: #8E724A !important;
    color: #fff !important;
    border: none;
}

.p-inputswitch.p-highlight .p-inputswitch-slider:before {
    background: #fff;
}

.p-inputswitch {
    width: 3rem;
    height: 1.4rem;
}

.p-datepicker .p-timepicker span {
    font-size: 1rem;
}

.imagefolder1 {
    background-image: url("../../../assest/images/Image1.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
}


.imagefolder2 {
    background-image: url("../../../assest/images/Image2.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.serviceHeirarchy {
    height: 100%;
    max-height: calc(100vh - 250px);
    overflow-y: auto;
}

.serviceEquipment .p-inputtext {
    padding-left: 35px !important;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content {
    padding: 0;
    font-size: 13px;
    color: #272B30;
}

.radioborder {
    border: 1px solid #dc2020;
}