.p-datatable {
  border-radius: 8px;
  background: #fff;
  /* box-shadow: 0px 2px 9px 0px rgba(50, 71, 92, 0.06), 0px 4px 9px 1px rgba(50, 71, 92, 0.04), 0px 2px 6px 4px rgba(50, 71, 92, 0.02); */
}

.p-datatable.p-datatable-gridlines .p-datatable-thead {
  border-width: 1px 1px 0 1px;
  border: none;
  background: transparent;
  padding: 6px 0;
  align-items: flex-start;
  align-self: stretch;
}

/* .p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th {
    text-align: left;
    padding: 12px 10px;
    border-top: 1px solid #E6E9EB;
    border-width: 1px 0 1px 0;
    font-weight: 600;
    font-size: 14px;
    color: #272B30;
    background: #FAFAFC;
    transition: box-shadow 0.2s;
    font-family: 'Lato', sans-serif !important;
} */
.p-datatable.p-datatable-gridlines .p-datatable-thead>tr>th {
  padding: 16px 16px 16px 20px;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 4px;
  flex: 1 0 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 200% */
  letter-spacing: 0.17px;
  color: #272b30;
  font-family: "Lato", sans-serif !important;
  vertical-align: top;
}

.p-datatable.p-datatable-gridlines .p-datatable-tbody>tr {
  border-bottom: 1px #d9d9d9;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0px -1px 0px 0px rgba(76, 78, 100, 0.12);
}

.p-datatable.p-datatable-gridlines .p-datatable-tbody>tr>td {
  font-size: 14px;
  font-style: normal;
  color: #272b30;
  font-weight: 400;
  line-height: 21px;
  /* 150% */
  letter-spacing: 0.15px;
  font-family: "Lato", sans-serif !important;
  vertical-align: top;
}

.p-datatable .p-column-header-content,
.p-treetable-table .p-column-header-content {
  border-right: 1px solid #e6e9eb;
}

.p-datatable.p-datatable-gridlines .p-datatable-tbody>tr>td>p {
  color: #8e724a;
}

/* paginator */
.p-paginator .p-dropdown {
  margin-left: 0.5rem;
  height: auto;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #32475c38;
}

.p-paginator {
  justify-content: end !important;
}

.p-paginator .p-paginator-current {
  color: #7e8083 !important;
  font-size: 14px !important;
}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last,
.p-paginator .p-paginator-pages .p-paginator-page {
  color: #6b7280;
  min-width: 1.5rem;
  height: 1.5rem;
  margin: 0.143rem;
  border: 1px solid #d2d7db;
  transition: box-shadow 0.2s;
  border-radius: 4px;
  font-size: 14px;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #f7f8f9 !important;
  color: #272b30 !important;
}

/* tree table css */
.p-treetable .p-treetable-thead>tr>th {
  text-align: left;
  padding: 12px 10px;
  border-top: 1px solid #e6e9eb;
  border-width: 1px 0 1px 0;
  font-weight: 600;
  font-size: 14px;
  color: #272b30;
  background: #fafafc;
  transition: box-shadow 0.2s;
}

.p-treetable .p-treetable-tbody>tr>td {
  text-align: left;
  padding: 8px 10px;
  border-top: 1px solid #e6e9eb;
  border-width: 0 0 1px 0;
  color: #272b30;
  font-size: 14px;
}

.p-treetable .p-treetable-tbody>tr>td .p-treetable-toggler {
  width: 1.5rem;
  height: 1.5rem;
}

.cursor-pointer:hover {
  text-decoration: underline;
}

.card {
  border-radius: 6px;
  /* box-shadow: 0 2px 6px 0 #4359711f; */
}

.iconButton .p-button .p-button-icon {
  font-size: 13px;
  width: 13px;
}

.p-sortable-column svg {
  width: 12px;
  height: 14px;
}

.p-tabview-panels {
  padding: 0;
}

.p-tabview .p-tabview-nav {
  background: transparent;
  border: 0;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  padding: 1rem;
  font-weight: 600;
  font-size: 14px;
  background: transparent;
}

.p-tabview-selected .p-tabview-nav-link {
  color: #ffffff;
  background:#4a3c28!important
}

.p-tabview .p-tabview-nav .p-tabview-ink-bar {
  height: 0px;
  background-color: #8e724a;
}

.p-fileupload-choose {
  width: 100%;
  height: 50px;
  text-align: left;
  font-size: 14px;
  color: #8e724a;
  background-color: #f1eee9;
  border: 1px dashed #ddd;
  box-shadow: none;
}

.p-fileupload-choose:hover {
  background: #4e330c !important;
  color: #fff;
}

.p-datatable-header {
  background-color: #fff;
}

.primeTable .p-datatable {
  border-radius: 6px;
  box-shadow: 0 2px 6px 0 #4359711f;
}

.primeTable .p-datatable-tbody tr:hover {
  background-color: #f1eee9;
}

.tree-scroll-wrapper {
    position: relative;
}

.tree-scroll-wrapper>div:first-child::-webkit-scrollbar {
    height: 6px;
}

.tree-scroll-wrapper>div:first-child {
    scrollbar-width: thin;
}

 .p-datatable .p-datatable-loading-overlay {
 background: transparent !important;/* Semi-transparent white */
   color: #8e724a;
  border: 1px solid #c4baa6;
 } 

.p-datatable .p-datatable-loading-icon {
  color: rgba(255, 255, 255, 0.7)!important; /* Dark color for spinner */
 } 